@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }

  .gridCol .swiper-wrapper {
    flex-direction: row !important;
    justify-content: center;
  }

  .gridCol .swiper-slide {
    align-self: flex-end;
    font-size: 18px;

    /* Change column as you want by calc 3 <== examble */
    height: calc((100% - 30px) / 3) !important;
  }

  .gridCol .swiper-button-prev,
  .gridCol .swiper-button-next {
    color: var(--primary);
    font-weight: bold;
  }
}
